@charset "utf-8";


/*animation*/

@keyframes FadeShow{

0%{opacity: 0;}
100%{opacity: 1;}
}


/**/

.ClipAlert{

  position: absolute;
  z-index: 10000;
  width: 180px;
  height: 60px;

background: #CCCCCC;
border-radius: 10px;
font-size: 2rem;
line-height: 60px;
/* identical to box height */
text-align: center;
color: #363636;
display: none;
}


header{
  position: absolute;
  top:14px;
  width: 100vw;
  max-width: 1194px;
  text-align: right;
  z-index: 10000;
}

header a{
  font-size:1.5rem;
  margin-right: 3%;
}

header a:hover{
  color: #00FFC2;
}

/*content*/
body,#GetPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

#GetPage {
  width: 62.5%;
  flex-direction: column;
  min-width: 800px;
}

.myName {
  font-size: 3rem;
  text-align: center;
}

#character img {
  margin-top: 40px;
  margin-bottom: 100px;
}

/*option*/

#option {
  width: 60%;
}
.assignWord,
.maxWord,
.nounOption {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.assignWord > p,
.maxWord > p,
.nounOption > p {
  font-size: 2rem;
  display: inline-block;
  flex-basis: 25%;
  line-height: 30px;
}
.assignWord > section,
.maxWord > section,
.nounOption > section{
flex-basis: 75%;
}
.wordOption p,
.maxWord section p,.maxWord output,
label > p {
  font-size: 1.5rem;
  display: inline-block;
}

/* Text input */
.assignWord .textInput input{
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #ffffff;
}
.assignWord .textInput label{
  position:absolute;
  font-size: 1.16rem;
  margin-top: 11.5px;
  margin-left: 20px;
}

.assignWord .textClear {
  background: url(../img/inputTextClear.svg);
}

.assignWord > p {
  margin-top: 5px;
}

.wordOption {
  text-align: right;
  margin-top: 10px;
}
.wordOption p {cursor: pointer;}

.wordOption .off {opacity: .5;}

.wordOption span {
    display: inline-block;
    width: 0px;
    height: 15px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    margin: 0 6px 0 6px;
    vertical-align: -1.5px;
}


.maxWord section{
  position: relative;
  width: 100%;
}
.maxWord input{
    -webkit-appearance: none;
    width:86%;
    height: 0px;
    border-radius: 5px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border:2px solid #9BB2FF;
    position: absolute;
    left:0;
    top:13px;
}
.maxWord input::-webkit-slider-thumb{
            -webkit-appearance: none;
            appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #00FFC2;
            cursor: pointer;
}
.maxWord input::-moz-range-thumb{
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: #00FFC2;
            cursor: pointer;
}
.maxWord section div {
  float: right;
  margin-top: 3.5px;
}
.maxWord section div::after{
  clear: both;
}


.nounOption section > div {
  width: 60px;
  height: 23px;
  display: inline-block;
  margin-right: 40px;
  margin-top: 3.4px;
}
.nounOption section .checks {
  width: 60px;
  height: 23px;
}
.nounOption .checks p{
  position:absolute;
  color: #fff;
  left: 0;
}
.nounOption .checks .checkmark{
  left:40px;
}

#enter {
  width: 60%;
  height: 60px;
  font-size: 3rem;
  background: #1be0ae;
  border-radius: 15px;
  margin-top: 56px;
}


/* random name result page */

#ResultPage {
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: column;
  position: absolute;
  justify-content: center;
}
.NameResult {
  color: #00FFC2;
  font-size: 4rem;
  margin-bottom: 40px;
}

#ResultPage img {
 height: 400px;
 display: inline-block;
 margin-bottom: 40px;
}

#ResultContent{
  display: flex;
  align-items: center;
  flex-direction: column;
}


.textBox p{
  font-size: 2rem;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.textBox div{
  display: flex;
  justify-content: center;
  align-items: center;
width: 460px;
height: 230px;
background: #FFFFFF;
border: 5px solid #1BE0AE;
box-sizing: border-box;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 20px;
}


.textBox ul li{
  font-size: 2rem;
  display: block;
  width: 100%;
  cursor: pointer;
  opacity: .5;
  color: #525252;
  margin-bottom: 8px;
}
.textBox ul li:last-child{margin: 0;}
.textBox ul li span {opacity: 0;}

.textBox ul li:hover{color: #00FFC2; opacity: 1;}
.textBox ul li:hover span{opacity: 1;}

#textbox-url{
  position: absolute;
  left: -9999px;
}

/* save name alert */
#saveName{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(54,54,54,.6);
  display: none;
  justify-content: center;
  align-items: center;
}

#saveName #box {
  animation: FadeShow 2s ease ;
  width: 80%;
  max-width: 579px;
height: 400px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
z-index: 10000;
}
#saveName #box .close{
  position: absolute;
  background: url(../img/closeIcon.svg);
  width: 24px;
  height: 24px;
  background-size: 24px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#saveName #box p:first-child {
  font-size: 3rem;
  color: #525252;
  width: 80%;
  margin: 0 auto;
}
#saveName #box p span {color: #00FFC2;}

#saveName #box p:last-child{
  font-size: 1.5rem;
  width:80%;
  margin: 20px auto 0;
  color: #a0a0a0;
  text-align: right;

}