<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 이름을 정해줘!</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/signUp.js"></script>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/signInUp.css">
    <link rel="stylesheet" href="../static/css/main.css">

    <script>
        function sign_in() {
            let user_id = $('#user-id').val()
            let user_pw = $('#user-pw').val()

            if (user_id == "") {
                // alert("아이디를 입력하세요")
                $('#signIn #wrong').text('아이디를 입력해줘!')
                return
            }
            else if (user_pw == "") {
                // alert("비밀번호를 입 력하세요")
                $('#signIn #wrong').text('비밀번호를 입력해줘!')
            }
            $.ajax({
                type: "POST",
                url: "/api/sign_in",
                data: {
                    id_give: $('#user-id').val(),
                    pw_give: $('#user-pw').val()
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        $.cookie('mytoken', response['token']);
                        window.location.replace("/sign_ok")
                        alert("로그인 성공")
                    } else {
                        alert(response['msg'])
                        $('#signIn #wrong').text('아이디, 또는 비밀번호가 잘못 입력됐어!')
                        
                        window.location.reload()
                    }
                }
            })
        }
        function sign_up() {
            let user_id = $('#up_user-id').val()
            let user_pw = $('#up_user-pw').val()
            let user_pw2 = $('#up_user-pw2').val()

            if (user_id == "") {
                // alert("아이디를 입력하세요")
                $('.suID #wrong').text('아이디를 입력해줘!')
                return false
            }else if (user_pw == "") {
                // alert("비밀번호를 입력하세요")
                $('.suPW .wrong').text('비밀번호를 입력해줘!')
                $('.suPW .wrong').css('color','#ff0000')
                return false
            }else if (user_pw != user_pw2) {
                // alert("비밀번호를 확인하세요")
                $('.suPW2 #wrong').text('비밀번호를 확인해줘!')
                return false
            } 
            $.ajax({
                type: "POST",
                url: "/api/sign_up",
                data: {
                    id_give: user_id,
                    pw_give: user_pw,
                    pw2_give: user_pw2
                },
                success: function (response) {
                    alert(response["msg"])
                    window.location.href = '/sign_in'
                }
            })
        }

        if(user_id != ""){$('.suID #wrong').text('')}
    </script>

</head>

<body>

    <article id="firstpage">
        <div id="box">
            <section id="signIn">
                <section>
                    <div>
                        <p>ID</p>
                        <div class="textInput">
                            <input type="text" id="user-id">
                            <button class="textClear"></button>
                        </div>
                    </div>
                    <div>
                        <p>PW</p>
                        <div class="textInput">
                            <input type="text" id="user-pw">
                            <button class="textClear"></button>
                        </div>
                    </div>
                </section>
                <section>
                <a href="#" id="goToSignUp">회원가입</a>
                <span class="fontSunflower" id="wrong"></span>
            </section>
                <button id="login" onclick="sign_in()">LOGIN</button>
            </section>

            <section id="signUp">
                
                    <button class="back"></button>
                
                <div class="suID">
                    <p>ID</p>
                    <div class="textInput">
                        <input type="text" id="up_user-id">
                        <button class="textClear"></button>
                     <span class="fontSunflower " id="wrong"></span>
                    </div>
                </div>
                <div class="suPW">
                    <p>PW</p>
                    <div class="textInput">
                        <input type="text" id="up_user-pw">
                        <button class="textClear"></button>
                    </div>
                    <span class="fontSunflower wrong">4자 이상 입력</span>
                </div>
                <div class="suPW2">
                    <p>PW재확인</p>
                    <div class="textInput">
                        <input type="text" id="up_user-pw2">
                        <button class="textClear"></button>
                        <span class="fontSunflower " id="wrong"></span>
                    </div>
                </div>

                <button id="signUpbutton" onclick="sign_up()">회원가입</button>
            </section>
        </div>
    </article>


    <header>
        <a href="#">마이페이지</a>
    </header>
    <article id="content">
        <section id="character">
            <p class="myName">내 이름을 정해줘!</p>
            <img src="../static/img/CHAR.svg" alt="character image">
        </section>
        <section id="option">
            <div class="assignWord">
                <p>고정단어</p>
                <section>
                    <div class="textInput">
                        <label for="ex_input">형용사를 원해!</label>
                        <input type="text" id="ex_input">
                        <button class="textClear"></button>
                    </div>
                    <div class="wordOption">
                        <p class="">형용사</p>
                        <span></span>
                        <p class="off">명사</p>
                        <span></span>
                        <p class="off">완전랜덤</p>
                    </div>
                </section>
            </div>
            <div class="maxWord">
                <p>최대글자수</p>
                <section>
                    <form oninput="count.value = parseInt(RangeInput.value)">
                        <input type="range" min="1" max="10" step="" value="5" name="RangeInput">
                        <div>
                            <output name='count' for="RangeInput" class="count">5</output>
                            <p>자</p>
                        </div>
                    </form>
                </section>
            </div>
            <div class='nounOption'>
                <p>명사종류</p>
                <section>
                    <div>
                        <label class="furuit checks">
                            <p>과일</p>
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div>
                        <label class="animal checks">
                            <p>동물</p>
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </section>
            </div>
        </section>
        <button id="enter">ENTER</button>
    </article>


</body>

</html>