<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/mypage.css">
    <script src="../static/js/mypage.js"></script>

</head>

<body>

    <h1>내 이름을 정해줘</h1>

    <section>

        <p>>마이페이지</p>

        <div>
        <h1>나의 닉네임들</h1>
        <span class="highlignt"></span>
    </div>

    <section>

        <ul>
            <li>
                <p>무시무시한 감자</p>
                <div>
                    <button>복사</button>
                    <button>삭제</button>
                </div>
            </li>

        </ul>
    </section>


    </section>


    
    

</body>