<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/mypage.css">
    <script src="../static/js/mypage.js"></script>

</head>

<body>

    <!-- The text field -->
    <ul id="saveList">
        <li>
            <p id="SavedName">맛없는 감자</p>
            <button class="copySave">복사</button>
            <button class="deletSave">삭제</button>
        </li>
        <li>
            <p id="SavedName">밋밋한 상어</p>
            <button class="copySave">복사</button>
            <button class="deletSave">삭제</button>
        </li>
        <li>
            <p id="SavedName">새파란 토마토</p>
            <button class="copySave">복사</button>
            <button class="deletSave">삭제</button>
        </li>

    </ul>

</body>