<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 이름을 정해줘!</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="../static/js/main.js"></script>
    <link rel="stylesheet" href="../static/css/common.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>



    <header>
        <a href="#">마이페이지</a>
    </header>
    <article id="content">
        <section id="ResultPage">
            <p class="NameResult">무시무시한 감자</p>
            <img src="../static/img/CHAR.svg" alt="character image">

            <div>
                <p>이 이름이 마음에 드니?</p>
                <ul>
                    <li>> 응!</li>
                    <li>> 아니!</li>
                </ul>
            </div>
        </section>
        
        
    </article>


</body>

</html>