<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 성공 페이지</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <script>
      function byebye(){
        $.removeCookie('mytoken');
        alert('로그아웃 성공')
        window.location.href='/sign_in'
      }

    </script>
</head>
<body>
로그인 성공 페이지
<h2>10초 후 로그인이 만료됩니다. 계속 새로고침 해보세요.</h2>
내 아이디 : {{userid}}<br>
<button onclick="byebye()">강제로 로그아웃하기</button>
</body>
</html>